<!DOCTYPE html>
<html>
<head>
	<title>Chat App</title>
	<link rel="stylesheet" type="text/css" href="public/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
	
	<div>

		<h1> CHAT APP</h1>
	</div>
	<div>
		<h1>home</h1>
		<form>
			First Name: <input type="text" name="firstName" />
			<br>
			Username: <input type="password" name="password
			 /">
			 <button>Submit</button>
		</form>

	</div>
</body>
</html>