<!DOCTYPE html>
<html>
<head>
	<title>Not Found</title>
	<link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body id="body404">
	<div class="notFound">
		<h1>Not found!!!</h1>
		<p>Something went wrong.</p>
	</div>
</body>
</html>