body{
	background-color: black;
	overflow: hidden;
	margin: 0px;
	height: 100%;
}
html{
	height: 100%;
}

strong{
	color: #fff;
}

form{
	padding: 10px;
}

#data{
	width:30%;
	margin: auto;
}
#header{
	background-color:#fff;
	padding: 15px;
	border-bottom: 7px solid green;
	min-height: 120px;
}

#header li{
	list-style: none;

}
#headForm{
	float: right;
}

#logo{
	float: left;
	margin-left: 30px;
}

#body404{
	background-color: skyblue;
}


ul li{
	display: inline;
}

/*CLASS*/

.Logo{

	float: left;
	margin-top: 15px;
}

.notFound{
	text-align: center;
	margin-top: 20%;
	line-height: 10px;
}

.notFound h1{
	color: #fff;
	font-family: helvetica;
	font-size: 60px;
}
.notFound p{
	color: #fff;
	font-family: helvetica;
	letter-spacing: 2px;
}

.form{

	float: right;
	margin-top: 15px;
	padding-right: 5px;
	max-width: 120%;
	
}
.form input{
	padding: 5px;
	padding-left: 10px;
	border:;
	/*width: 180px;*/

}
